<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmployeeManagment.Properties.Settings.employeedb"
            connectionString="Data Source=NANO-PC;Initial Catalog=employeedb;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="EmployeeManagment.Properties.Settings.ConnectionString"
            connectionString="Data Source=NANO-PC;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>